@import url("./reset.css");
div {
  width: 300px;
  height: 300px;
}

.anchor_list {
  /* background: pink; */
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 2px 20px;
  height: 30px;
  overflow: hidden;
  transition: height 1s;
}

.anchor_list:hover {
  height: 130px;
}

.anchor_list li {
  line-height: 25px;
}